<!doctype html>
<head>
<meta name="viewport" content="width=device-width initial-scale=1">
<script type="text/javascript" src="static/jquery.min.js" ></script>
<script type="text/javascript" src="static/bootstrap.min.js"></script>
<link rel="stylesheet" href="static/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">WebsiteName</a>
  </div>
   <ul class="nav navbar-nav">
    <li class="active">
     <li> <a href="#">Page 1</a></li>
     <li> <a href="#">Page 2</a></li>
     <li> <a href="#">Page 3</a></li>
    </li>
   </ul>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="col-sm-6">
<p class="lead">after first navbar before second navbar</p>
    </div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Second Navbar</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="acxtive">
        <li><a href="#"> first</a></li>
        <li><a href="#"> second</a></li>
        <li><a href="#"> third</a></li>
    </ul>
  </div>
</nav>
</body>
</head>
</html>
