<!doctype html>
<head>
<meta name="viewport" content="width=device-width initial-scale=1">
<script type="text/javascript" src="static/jquery.min.js" ></script>
<script type="text/javascript" src="static/bootstrap.min.js"></script>
<link rel="stylesheet" href="static/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class='navbar-header'>
      <a class="navbar-brand" href="#">Head Navbar</a>
        <ul class="nav navbar-nav">
          <li class="active"><a href=#">Home</a></li>
          <li><a href=#">1</a></li>
          <li><a href=#">2</a></li>
          <li><a href=#">3</a></li>
        </ul>
      </a>
    </div>
  </div >
</nav>
after nav before end body end
</body>
</head>
</html>
