<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
  <title>Simple chart with C3 - in 5 minutes! </title>

  <!-- Here are all the javascripts and css that you need, you can download them or linked them like here -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css" rel="stylesheet" type="text/css">

  {%block head%}{%endblock%}
</head>
<body>
{%block body%}{%endblock%}
</body>
</html>
