:root {
        --ic-brand-primary-darkened-5: #6D675F;
--ic-brand-primary-darkened-10: #67625A;
--ic-brand-primary-darkened-15: #615C55;
--ic-brand-primary-lightened-5: #79736A;
--ic-brand-primary-lightened-10: #807A72;
--ic-brand-primary-lightened-15: #87827A;
--ic-brand-button--primary-bgd-darkened-5: #005088;
--ic-brand-button--primary-bgd-darkened-15: #00487A;
--ic-brand-button--secondary-bgd-darkened-5: #4A4C4F;
--ic-brand-button--secondary-bgd-darkened-15: #424447;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #004853;
--ic-link-color-lightened-10: #19616C;
--ic-brand-primary: #726c63;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #00505c;
--ic-brand-button--primary-bgd: #00548f;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #4d4f53;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #8c1515;
--ic-brand-global-nav-ic-icon-svg-fill: #f8f6ea;
--ic-brand-global-nav-ic-icon-svg-fill--active: #820000;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #5e3032;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #b3995d;
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #8c1515;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_35910000000000001/attachments/49271/Stanford_Canvas.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1914394059&Signature=8JoCySkZIcCjqAB58ozh%2FrBKHAo%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/favicon-e10d657a73.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #8c1515;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_35910000000000001/attachments/74913/LoginScreenLogo.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1917601058&Signature=rNPaQSkuWMA4%2B7%2FvubXA79G63nQ%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #ffffff;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }